

<meta name="viewport" content="width=device-width, initial-scale=1">

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #333300;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999999;
}

.button:hover {background-color: #535300}

.button:active {
  background-color:#ffffd7;
  color: #171700;
  box-shadow: 0 2px #bfbfbf52;
  transform: translateY(4px);
}
body {
height: 100%;
background-color: #420000
}

input {
border-radius: 15px;
background-position: left top;
background-repeat: repeat;
padding: 15px 25px;
width: 200px;
height: 20px;
font-size: 24px;
}
p {
font-size: 24px;
color: #ffffd7;
}

h1{
font-size: 40px;  
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #ffffd7;
}